.deck {
  background-color: #1a1a1d;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.card-chat {
  height: 100vh;
}

.chat-header {
  background: #ff0000 !important;
  height: 10%;
}

.chat-input {
  display: absolute !important;
  bottom: 0;
}

.chat-body {
  background-color: ghostwhite;
}

.card-display-text {
  background-color: #1a1a1d !important;
  color: white;
}

@media only screen and (max-width: 600px) {
  .card-display-text {
    display: none;
  }
}
